<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <$- include('partials/head') $>
  </head>
  <body>


<$ if (user) { $>
  <main>
    <div id="topHeader" class="header">
      <div id="welcome">
        <script type="text/template" id="headerName-template">
          <div id="userName"><p><%= user.spotifyId %></p></div>
        </script>
      </div>
      <div id="logoContainer"><img id="logo" src="https://i.imgur.com/E5WguAz.png"></div>
      <div id="moreInfo">
        <p id="whereAmI">where am I?</p>
        <p id="gotIt">got it.</p>
        <span id="moreInfoMenu">
          <span class="menuItem" id="aboutPirs"><p>PiRS</p></span>
          <span class="menuItem" id="legal"><p>legal</p></span>
          <span class="menuItem" id="contact"><p>contact</p></span>
          <span class="menuItem" id="settings"><p>settings</p></span>
          <span class="menuItem" id="logout"><p><a href="/logout">logout</a></p></span>
        </span>
      </div>
      <section id="modal">

      </section>
    </div>
    <div id="content">
      <div id="circleHead">
        <div id="circlePrompt">
        <script type="text/template" id="circlePrompt-template">
          <% if (userCircles.length > 0) { %>
            <p>select or <a id="createCircleLink" href="#">create a circle</a></p>
          <% } else { %>
            <h1><a id="createCircleLink" href="#">create a circle</a></h1>
          <% } %>
        </script>
        </div>
        <div id="createCircleArea">
          <div id="createCircleForm">
            <input id="titleField" class="input-field" placeholder='Group Name (e.g. Boom Squad)'>
            <input id="search" type="search" placeholder="Search for Friends (e.g. pieluvr3141)">
            <div id="buttonsAndFriends">
              <button id="addFriend">add friend</button>
              <div id="friend"></div>
              <div id="friendsToAdd"></div>
              <button id="createCircle">create circle</button>
            </div>
            </div>
          </div>
        </div>
        <div id="circlesList">
          <script type="text/template" id="circle-template">
            <% if (userCircles.length > 0) { %>
            <% userCircles.forEach(function(circle){ %>
              <div class="circle">
                <div class="circleHeader">
                  <div class="circleTitle"><p><%= circle.title %><p></div>
                </div>
                <div data-indexNumber="<%= circle._id %>" data-title="<%= circle.title %>" class="playButton stationLink"><img src="https://i.imgur.com/ODkyHmb.png"></div>
                <div class="circleMembers">
                  <% circle.users.forEach(function(user){ %>
                    <div class="circleMember">
                      <div class="circleMemberImage"><img src="https://i.imgur.com/NRhYDQD.png"></div>
                    </div>
                  <% }) %>
                </div>
                <div class="circleMembersExpanded">
                  <% circle.users.forEach(function(user){ %>
                    <div class="circleMemberExpanded">
                      <div class="circleMemberImage"><img src="https://i.imgur.com/NRhYDQD.png"></div>
                      <div class="circleMemberName">Name<%= user.spotifyId %></div>
                      <div class="circleMemberDelete"><img src="https://i.imgur.com/OwlzNxO.png"></div>
                    </div>
                  <% }) %>
                  <div data-indexNumber="<%= circle._id %>" class="deleteCircle">
                    <img class="deleteX" src="https://i.imgur.com/OwlzNxO.png">
                    <div class="deleteText">DELETE CIRCLE</div>
                  </div>
                </div>
              </div>
            <% }) %>
          <% } %>
        </script>
        </div>
      </div>
  </main>
<$ } else { $>
  <main>
    <div id="login">
      <img src="https://i.imgur.com/E5WguAz.png">
      <h1>PiRS</h1>
      <h3>Peer to peer radio</h3>
      <a href="/login">Log in</a>
    </div>
  </main>
<$ } $>


  <script>
    var name        = '';
    var user;
    var displayName;
    var userCircles = [];
    var circleId;
    var Circle;

    <$ if (user) { $>
      user = JSON.parse('<$- JSON.stringify(user) $>');
      console.log(user);
      name = '<$- user.displayName $>';
      userCircles = JSON.parse('<$- JSON.stringify(user.circles) $>');
      console.log(userCircles.length);
      userCircles.forEach(function(circle) {
        console.log(circle);
      });
    <$ } $>
  </script>


  <$- include('partials/scripts') $>
  </body>

</html>
