<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <$- include('partials/head') $>
  </head>
  <body>
  <main>
    <$ if (user) { $>
      <div>
        <a href="/logout">Logout</a>
        <a href="/testLib">Test buildLibraries</a>
        <script type="text/template" id="circles-template">
          <h1>Welcome, <%= name %></h1>
              <div id="circlesList">
          <% if (userCircles.length > 0) { %>
            <% userCircles.forEach(function(circle){ %>
              <div>
                <%= circle.title %>
                <button id="<%= circle._id %>" class="stationLink">Generate</button>
                <%= circle.users %>

                <input type="button" value="X" id="<%= circle._id %>" class="deleteCircle">

                </div>
            <% });%>
              </div>
          <% } else { %>
            <p>You do not have circles, start looking for some homies and create a circle!</p>
          <% } %>
          <h3>Create a new circle!</h3>
          <input id="titleField" placeholder="title"></input>
          <ul id="circleMembers">
          </ul>
          <div class="input-field">
            <input id="search" type="search" placeholder="search for friends">
          </div>
          <div id="friend">
          </div>
          <button id="createCircle">Create Circle</button>
          <div id="spotifyPlayer">
          </div>
        </script>
      </div>
    <$ } else { $>
      <div>
        <h1>Pi.RS</h1>
        <h3>Peer to peer radio</h3>
        <a href="/login">Log in</a>
      </div>
    <$ } $>
  </main>


  <script>
    var name        = '';
    var userCircles = [];
    var circleId;

    <$ if (user) { $>
      name = '<$- user.displayName $>';
      userCircles = JSON.parse('<$- JSON.stringify(user.circles) $>');
    <$ } $>
  </script>


  <$- include('partials/scripts') $>
  <$- include('partials/template') $>
  </body>

</html>
